[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "GMSE"]
	path = GMSE
	url = https://github.com/confoobio/gmse
	shallow = true
	registered = true
